
.modal.add-product-review-modal {
  background: #00000061;

  .modal-header {
    border-bottom: none;

    h5 {
      font-weight: 600;
    }
  }

  .modal-body {
    textarea {
      border: none;
      resize: none;
      width: 90%;

      &:focus, &:focus-visible {
        outline: none;
        border: none;
      }
    }
  }

  .modal-footer {
    text-align: left;
    border-top: none;
    justify-content: flex-start;

    .spinner-container {
      position: relative;
    }

    button {
      min-width: 135px;
      margin-right: 20px;
    }

    .error-message {
      display: none;
    }
  }
}