@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 3px solid #C4352E;
  border-top-color: #3EB8BC;
  border-right-color: #297ABA;
  border-bottom-color: #F1852C;
  animation: spinner .6s linear infinite;
}